html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url('../public/images/stars.jpg');
  background-size: cover;
  height: 100vh;
  width: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


